@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

html,
body {
  user-select: none;
}

.el {
    position: absolute;
    opacity: 0.6;
    z-index: -1;
  }

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/* prefix for Chrome & Safari */
/* #container:-webkit-full-screen {
	width: 100%;
	overflow: auto;
} */
  
@media (max-width: 767.98px) {

}