@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

html,
body {
  user-select: none;
}

body:fullscreen {
	width: 100%;
  overflow: auto;
  background-color: #fff !important;
}

.el {
    position: absolute;
    opacity: 0.6;
    z-index: -1;
  }




/* prefix for Chrome & Safari */
/* #container:-webkit-full-screen {
	width: 100%;
	overflow: auto;
} */
  
@media (max-width: 767.98px) {

}